<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeden.jappanappprogram"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/JapanApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jeden.jappanappprogram.CreditsActivity" />
        <activity android:name="com.jeden.jappanappprogram.PointsActivity" />
        <activity android:name="com.jeden.jappanappprogram.DrawItActivity" />
        <activity android:name="com.jeden.jappanappprogram.GuessItActivity" />
        <activity android:name="com.jeden.jappanappprogram.SystemChoiceActivity" />
        <activity android:name="com.jeden.jappanappprogram.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>